* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Add this to avoid box sizing issues */
}

.WebsiteLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
  background-color: #f9f9f9;
  overflow: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.MainContent {
  flex: 1 0 auto; /* grow to fill space */
  overflow-y: auto; /* scroll only main content if needed */
  padding: 20px; /* optional padding */
}
